/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	position: relative;

	input {
		letter-spacing: 0.1rem;
	}

	button {
		padding: 1.3rem 3rem;
		letter-spacing: 0.05rem;
	}

	p {
		color: #afb0b1;
		white-space: nowrap;
	}
}

#contact-info {
	padding: 9.375rem 0;
}