
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #1d1d1d;
}

#footer-main {
	padding-top: 3rem;
    padding-bottom: 3rem;
}

#copyright {
	font-family: $body-font;
	font-size: 0.875rem;
	font-weight: 300;	
	color: #535353;
	line-height: 2;
	z-index: 1;	
}
