
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#contact {
	position: relative;
	
	p {
		color: #afb0b1;
		white-space: nowrap;
	}
}

#contact-info {
	padding: 9.375rem 0;
}