/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/

.event {
    position: relative;
    margin-bottom: 1.875rem;

    .event-date {
        font-family: $body-font;
        font-size: 3.125rem;
        font-weight: 700;
        color: $theme-color;
    }
}